Tercero/Sistemas Distribuidos/Practica 4/Practica4 Cliente/Connected Services/ServiceGAlmacenes/Servicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Practica4_Servicio/Service/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Practica4_Servicio/Service/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Practica4_Servicio/Service/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Practica4_Servicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicio_DatosAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:DatosAlmacen" />
  </wsdl:message>
  <wsdl:message name="IServicio_DatosAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:DatosAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_NProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:NProductos" />
  </wsdl:message>
  <wsdl:message name="IServicio_NProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:NProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_CrearAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlmacen" />
  </wsdl:message>
  <wsdl:message name="IServicio_CrearAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AbrirAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:AbrirAlmacen" />
  </wsdl:message>
  <wsdl:message name="IServicio_AbrirAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:AbrirAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_GuardarAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAlmacen" />
  </wsdl:message>
  <wsdl:message name="IServicio_GuardarAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_CerrarAlmacen_InputMessage">
    <wsdl:part name="parameters" element="tns:CerrarAlmacen" />
  </wsdl:message>
  <wsdl:message name="IServicio_CerrarAlmacen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CerrarAlmacenResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AlmacenAbierto_InputMessage">
    <wsdl:part name="parameters" element="tns:AlmacenAbierto" />
  </wsdl:message>
  <wsdl:message name="IServicio_AlmacenAbierto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlmacenAbiertoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicio_BuscaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="IServicio_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_AnadirProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AnadirProducto" />
  </wsdl:message>
  <wsdl:message name="IServicio_AnadirProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnadirProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IServicio_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IServicio_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicio">
    <wsdl:operation name="DatosAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/DatosAlmacen" message="tns:IServicio_DatosAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/DatosAlmacenResponse" message="tns:IServicio_DatosAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/NProductos" message="tns:IServicio_NProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/NProductosResponse" message="tns:IServicio_NProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/CrearAlmacen" message="tns:IServicio_CrearAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/CrearAlmacenResponse" message="tns:IServicio_CrearAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AbrirAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AbrirAlmacen" message="tns:IServicio_AbrirAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AbrirAlmacenResponse" message="tns:IServicio_AbrirAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/GuardarAlmacen" message="tns:IServicio_GuardarAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/GuardarAlmacenResponse" message="tns:IServicio_GuardarAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CerrarAlmacen">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/CerrarAlmacen" message="tns:IServicio_CerrarAlmacen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/CerrarAlmacenResponse" message="tns:IServicio_CerrarAlmacen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlmacenAbierto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AlmacenAbierto" message="tns:IServicio_AlmacenAbierto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AlmacenAbiertoResponse" message="tns:IServicio_AlmacenAbierto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/BuscaProducto" message="tns:IServicio_BuscaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/BuscaProductoResponse" message="tns:IServicio_BuscaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ObtenerProducto" message="tns:IServicio_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ObtenerProductoResponse" message="tns:IServicio_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnadirProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/AnadirProducto" message="tns:IServicio_AnadirProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/AnadirProductoResponse" message="tns:IServicio_AnadirProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/ActualizarProducto" message="tns:IServicio_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/ActualizarProductoResponse" message="tns:IServicio_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicio/EliminarProducto" message="tns:IServicio_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicio/EliminarProductoResponse" message="tns:IServicio_EliminarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicio" type="tns:IServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DatosAlmacen">
      <soap:operation soapAction="http://tempuri.org/IServicio/DatosAlmacen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NProductos">
      <soap:operation soapAction="http://tempuri.org/IServicio/NProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearAlmacen">
      <soap:operation soapAction="http://tempuri.org/IServicio/CrearAlmacen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AbrirAlmacen">
      <soap:operation soapAction="http://tempuri.org/IServicio/AbrirAlmacen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAlmacen">
      <soap:operation soapAction="http://tempuri.org/IServicio/GuardarAlmacen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CerrarAlmacen">
      <soap:operation soapAction="http://tempuri.org/IServicio/CerrarAlmacen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlmacenAbierto">
      <soap:operation soapAction="http://tempuri.org/IServicio/AlmacenAbierto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicio/BuscaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/IServicio/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnadirProducto">
      <soap:operation soapAction="http://tempuri.org/IServicio/AnadirProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IServicio/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IServicio/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servicio">
    <wsdl:port name="BasicHttpBinding_IServicio" binding="tns:BasicHttpBinding_IServicio">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Practica4_Servicio/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>